<div class="container-fluid m-0 p-0" >
    <img src="https://www.umayor.cl/um/bundles/umayor/images/banners/slider-modalidades-um.jpg" style="width: 100%" >
</div>

<div class="container pt-4 pb-4" >

    <div class="text-center" >
        <h1>Universidad Mayor</h1>
        <h6>Somos la universidad para espíritus emprendedores</h6>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <img src="https://www.umayor.cl/um/bundles/umayor/images/carrusel/carrusel-umayor-top-ten-investigacion-chile-la-tercera.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">U. Mayor top ten en investigación</h5>
                    Más información
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://www.umayor.cl/um/bundles/umayor/images/carrusel/home-proceso-admision-2021.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">U. Mayor top ten en investigación</h5>
                    Más información
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://www.umayor.cl/um/bundles/umayor/images/carrusel/carrusel-webinars.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">U. Mayor top ten en investigación</h5>
                    Más información
                </div>
            </div>
        </div>
    </div>
    
</div>