<div class="row p-3" >
    <div class="col border-bottom pb-3" >
        <h1>Cursos</h1>
    </div>
</div>

<div class="row border-bottom p-3" >
    <div class="col" >Plantillas</div>
    <div class="col text-center" ><h5>Cursos Actuales</h5></div>
    <div class="col text-end" >Proximos Cursos</div>
</div>

<div class="bg-light p-3" >
    <div  class="row my-2">
        <div class="col" style="display: flex">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-small btn-light">Left</button>
                <button type="button" class="btn btn-small btn-light">Middle</button>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            </form>

            <form class="d-flex">
                <label>Filtrar</label>
                <select class="form-control me-2">
                    <option>Todos los Cursos</option>
                    <option>Todos los Cursos</option>
                </select>
            </form>
        </div>
        <div class="col">
            <form class="d-flex">
                <select class="form-control me-2" style="width: 60px">
                    <option>25</option>
                    <option>50</option>
                </select>
                <label>Elementos por Página</label>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <h4>Favoritos</h4>

            <div class="card my-3" >
                <div class="card-body" >
                    <h6 class="text-muted">234157664</h6>
                    <h6>SEM 1 2021 | ARQUITECTURA DE APLICACIONES WEB | ICCE1042-001 </h6>
                    <p>JUAN MALDONADO LEON | Mas Información</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col">
            <h4>Fechas Diversas</h4>

            <div class="card my-3">
                <div class="card-body">
                    <h6 class="text-muted">234157664</h6>
                    <h6>SEM 1 2021 | ARQUITECTURA DE APLICACIONES WEB | ICCE1042-001 </h6>
                    <p>JUAN MALDONADO LEON | Mas Información</p>
                </div>
            </div>
            
            <div class="card my-3">
                <div class="card-body">
                    <h6 class="text-muted">234157664</h6>
                    <h6>SEM 1 2021 | ARQUITECTURA DE APLICACIONES WEB | ICCE1042-001 </h6>
                    <p>JUAN MALDONADO LEON | Mas Información</p>
                </div>
            </div>
            
            <div class="card my-3">
                <div class="card-body">
                    <h6 class="text-muted">234157664</h6>
                    <h6>SEM 1 2021 | ARQUITECTURA DE APLICACIONES WEB | ICCE1042-001 </h6>
                    <p>JUAN MALDONADO LEON | Mas Información</p>
                </div>
            </div>
        </div>
    </div>
</div>